Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# условие и правило для админки
# RewriteCond %{REQUEST_URI} ^\/backend\/.*
# RewriteRule . backend.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php